.icon {
    bottom: 0;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.hamburger-menu.open i.fa-bars::before {
    content: "\f00d";
}

.secundary-button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.header, .int-header {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}